body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
}

p {
    color: #333;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

img {
    border-radius: 10px;
}

a:hover {
    color: #ff6347;
}

.fading-text {
    font-size: 3em;
    animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.ball {
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-150px);
    }
}

.gradient-box {
    width: 500px;
    height: 500px;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, purple, orange);
    color: white;
}
